name: "units-test"
on:
  push

jobs:
  # test action works running from the graph  
  test-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: ./
        with:
          GIT_CRYPT_KEY: ${{secrets.GIT_CRYPT_KEY}}
      - run: cat secret.txt
  test-macOS:
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v1
      - uses: ./
        with:
          GIT_CRYPT_KEY: ${{secrets.GIT_CRYPT_KEY}}
      - run: cat secret.txt
  test-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v1
      - uses: ./
        with:
          GIT_CRYPT_KEY: ${{secrets.GIT_CRYPT_KEY}}
      - run: cat secret.txt
