name: "units-test"
on:
  push

jobs:
  # test action works running from the graph  
  test:
    runs-on: macOS-latest
    steps:
    - uses: actions/checkout@v1
    - uses: ./
      with:
        GIT_CRYPT_KEY: ${{secrets.GIT_CRYPT_KEY}}
    - run: cat secret.txt
